{% extends "layout.html" %} {% block content %}
<div class="card">
  <h3>Add Child Entry for Parent: {{parent.getReadableDate()}}</h3>
  <div class="padding" >
    <table>
      <form action="http://127.0.0.1:8000/addentry/{{parent.getDatecode()}}" method="POST">
        <tr>
          <td><pre>Datecode</pre></td> <td><input name="datecode" maxlength="19" size="19"/></td>
        </tr>
        <tr>
          <td><pre>Content</pre></td> <td><textarea name="content" class="contentEntry" rows="4" cols="40"></textarea></td>
        </tr>
    </table>
  </div>
      <pre><input type="submit" value="submit" class="button"/></pre>
  </form>
</div>
{% endblock %}
